.navbar {
    background-color: #212529 ;
}

.navbar-brand {
    color: #f8f9fa ;
    font-weight: 500;
    padding: 10px 50px;
}

.navbar-brand:hover {
    color: black ;
    border-radius: 30px;
    background-color: #f8f9fa;
}

.nav-item {
    padding: 0 50px;
}

.nav-item:hover {
    background-color: #343a40 ;
    border-radius: 30px;
    transition: 0.3 ease;
    padding: 0px 50px;
}

.nav-link {
    color: #bbbbbb ;
    padding: 10px 50px;
    font-weight: 300;
}

.nav-link:hover {
    color: #ffffff ;
}