 <!-- FORMULARIO DE CONTACTO -->
<section class="contact-section container">
    <h2>Contáctanos</h2>
    <p class="text-center mb-4">
        Si deseas más información sobre nuestros servicios turísticos o quieres planificar tu próxima aventura en
        Colombia, ¡escríbenos!
        Nuestro equipo estará encantado de ayudarte.
    </p>
    <form [formGroup]="contactForm" (ngSubmit)="enviar()" novalidate>
        <div class="row g-3">

            <!--INPUT DE NOMBRE -->
            <div class="col-md-6">
                <label for="nombre" class="form-label">Nombre completo</label>
                <input id = "nombre" type="text" class="form-control" formControlName="nombre" 
                placeholder="Tu nombre completo" [class.is-invalid] = "f.nombre.invalid && f.nombre.touched"/>
                <!-- MENSAJES DE ERROR -->
                <div class = "invalid-feedback" *ngIf = "f.nombre.invalid && f.nombre.touched">
                    <!-- ERROR DE REQUIRED-->
                    <div *ngIf = "f.nombre.errors?.required">El nombre es obligatorio.</div>
                    <!-- ERROR DE MINLEGHt-->
                    <div *ngIf = "f.nombre.errors?.minlength">Mínimo {{f.nombre.errors?.minlength.required.Lenght }} caracteres.</div >

                </div>
            </div>

            <div class="col-md-6">
                <label for="email" class="form-label">Correo electrónico</label>
                <input type="email" class="form-control" id="email" placeholder="example@gmail.com" required>
            </div>
            <div class="col-md-6">
                <label for="telefono" class="form-label">Teléfono</label>
                <input type="tel" class="form-control" id="telefono" placeholder="+57 000 000 0000">
            </div>
            <div class="col-md-6">
                <label for="asunto" class="form-label">Asunto</label>
                <input type="text" class="form-control" id="asunto" placeholder="Consulta o solicitud" required>
            </div>
            <div class="col-12">
                <label for="mensaje" class="form-label">Mensaje</label>
                <textarea class="form-control" id="mensaje" rows="5" placeholder="Escribe tu mensaje aquí..."
                    required></textarea>
            </div>
            <div class="col-12 text-center mt-4">
                <button type="submit" class="btn btn-success px-5 py-2">Enviar Mensaje</button>
            </div>
        </div>
    </form>
</section>